.input-container {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #e7e7e7;
  border-radius: 15px;
  padding: 10px 15px 10px 15px;
  gap: 5px;
}

.input-container input {
  flex: 1;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  background-color: transparent;
  outline: none;
  border: none;
}

.input-container .input-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #868686;
}

.input-container .input-icon:hover {
  cursor: pointer;
}

.input-container button {
  border: none;
  background: transparent;
  padding: 0;
  margin: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #868686;
}

@media (max-width: 600px) {
  .input-container {
    max-width: 90%;
  }
}
