#root {
  margin: 0 auto;
  text-align: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 40px auto;
  background: #fff;
  border-radius: 18px;
  box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.05);
  padding: 2.5rem 1.5rem 2rem 1.5rem;
}
.new-btn {
  justify-self: flex-start;
  background: #fa4747;
  color: #fff;
  border-radius: 8px;
  padding: 0.2em 0.2em;
  font-size: 2rem;
  font-weight: 700;
  cursor: pointer;
  transition: background 0.2s;
  z-index: 10;
}
.new-btn:hover {
  background: #c92c2c;
}

.title {
  color: #fa4747;
  font-size: 2.2rem;
  font-weight: 800;
  margin-bottom: 2rem;
  letter-spacing: -1px;
}

.filters {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
  flex-wrap: wrap;
}

.club-list {
  padding: 0;
  margin: 0;
}

.club-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 2rem 1.5rem;
  align-items: stretch;
  justify-items: center;
}

.no-result {
  color: #868686;
  grid-column: 1 / -1;
}

@media (max-width: 600px) {
  .filters {
    flex-direction: column;
    gap: 0.7rem;
  }
  .club-grid {
    grid-template-columns: 1fr;
    gap: 1.2rem 0.7rem;
  }
}

@media (max-width: 500px) {
  .main-container {
    width: 100%;
    margin: 0 auto;
  }
  .title {
    font-size: 1.8rem;
  }
}
